html {
  font-size: 18px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
.intro__content {
  max-width: 67%;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
}

.intro__text {
  margin: 0 1rem 0 0;
  font-size: 2rem;
  font-weight: 300;
}

.intro__text--large {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.intro__text--xlarge {
  margin-bottom: 2rem;
  font-size: 9rem;
  font-weight: 900;
  text-align: center;
}

.intro__text strong {
  font-weight: 500;
}

.intro__nav-button {
  display: block;
  margin-top: 5rem;
  font-size: 5rem;
  text-align: center;
  color: white;
}
