/**
*  General typography and basic resizing for responsiveness
*/
html {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
@media (max-width: 520px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-weight: 400;
}
strong,
b {
  font-weight: 600;
}
.--extra-strong {
  font-size: 1.33em;
  font-weight: 600;
  font-style: italic;
}

/**
*  Intro screen styling
*/
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%; /* when vertical scrollbar appears, we get horizontal scrollbar because our base vw is changed */
  background-color: black;
  color: white;
}

.intro__content {
  max-width: 67%;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  line-height: 1.2;
}

.intro__text {
  margin: 0 1rem 0 0;
  font-size: 2rem;
  font-weight: 300;
}

.intro__text--large {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.intro__text--xlarge {
  margin-bottom: 2rem;
  font-size: 9rem;
  font-weight: 900;
  text-align: center;
}

.intro__text strong {
  font-weight: 500;
}

.intro__nav-button {
  display: block;
  margin: 5rem 0;
  font-size: 5rem;
  text-align: center;
  color: white;
}

/**
*  Page styling
*/
.page {
  position: relative;
}

/**
*  Navbar and menu
*/
.page-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
  color: white;
}

.main-menu {
  overflow: hidden; /* to create a new block formatting context */
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-size: 1.33em;
}

.main-menu__item {
  display: inline-block;
  list-style: none;
  padding: 0.5em 1em;
}

.main-menu__link {
  text-decoration: none;
  color: white;
}

.main-menu__link:hover {
  font-weight: 300;
  color: silver;
}

/**
*  Main title for the page
*/
.page-title {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 0 2rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
}

.page-title small {
  font-size: 2rem;
}

/**
*  Page sections
*/
.page-section {
  padding: 2rem 0;
}

.page-section:first-of-type {
  padding-top: 0;
}

.page-section:nth-child(odd) {
  background-color: black;
  color: white;
}

.page-section > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.page-section__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1;
}

.page-section__subtitle {
  margin-top: 0;
  margin-bottom: 0.67rem;
  font-size: 1.5rem;
  line-height: 1;
}

/**
*  Cards
*/
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  box-sizing: border-box;
  flex: 1 1 25%; /* max 3 per row: 25% + 1rem from the margin has the correct result calc doesn’t seem to work here */
  padding: 0 1rem;
  margin: 1rem 1rem 0 0;
  border: 1px solid white;
}
.card:last-child,
.card:nth-child(3n) {
  margin-right: 0;
}

.card__title {
  margin: 0.5rem 0;
  font-size: 1.33rem;
  line-height: 1;
}

.card__title small {
  font-size: 1rem;
  color: grey;
}
