/* Change the standard fonts */
.mdl-layout{
  font-family: "Open Sans", sans-serif;
}
.mdl-layout-title, .mdl-layout__title, h1, h2, h3, h4, h5, h6, h1 small, h2 small, h3 small {
  font-family: "Ubuntu", serif;
}

/* Block elements */
.section--center {
  max-width: 50em;
  margin: 0 auto;
}

/* Utility classes */
.compact {
  line-height: .86em;
}
.align-right {
  text-align: right;
}
