/**
* Typography
*/

html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", serif;
}

/**
* Colors
*/

.wn-color-1-light {
    background-color: #3aeff3;
}
.wn-color-1 {
    background-color: #0bb8bc;
}
.wn-color-1-dark {
    background-color: #066568;
}
.wn-black-1 {
    background-color: #011213;
}
.wn-darkgrey-1 {
    background-color: #637272;
}
.wn-lightgrey-1 {
    background-color: #afb9b9;
}
.wn-white-1 {
    background-color: #e7f8f8;
}
.wn-coloraccent-1 {
    background-color: #e8560e;
}
.wn-color-2-light {
    background-color: #3b8cf3;
}
.wn-color-2 {
    background-color: #0b59bd;
}
.wn-color-2-dark {
    background-color: #063168;
}
.wn-black-2 {
    background-color: #010913;
}
.wn-darkgrey-2 {
    background-color: #636a72;
}
.wn-lightgrey-2 {
    background-color: #afb4b9;
}
.wn-white-2 {
    background-color: #e7eef8;
}
.wn-coloraccent-2 {
    background-color: #ff9e00;
}
.wn-text-color-1-light {
    color: #3aeff3;
}
.wn-text-color-1 {
    color: #0bb8bc;
}
.wn-text-color-1-dark {
    color: #066568;
}
.wn-text-black-1 {
    color: #011213;
}
.wn-text-darkgrey-1 {
    color: #637272;
}
.wn-text-lightgrey-1 {
    color: #afb9b9;
}
.wn-text-white-1 {
    color: #e7f8f8;
}
.wn-text-coloraccent-1 {
    color: #e8560e;
}
.wn-text-color-2-light {
    color: #3b8cf3;
}
.wn-text-color-2 {
    color: #0b59bd;
}
.wn-text-color-2-dark {
    color: #063168;
}
.wn-text-black-2 {
    color: #010913;
}
.wn-text-darkgrey-2 {
    color: #636a72;
}
.wn-text-lightgrey-2 {
    color: #afb4b9;
}
.wn-text-white-2 {
    color: #e7eef8;
}
.wn-text-coloraccent-2 {
    color: #ff9e00;
}

/**
* Layout Blocks
*/

.wn-header {
    position: fixed;
    width: 100%;
    height: 10rem;
    background: url("../images/wn-header.jpg") center / cover;
    top: 0;
    transition-duration: 0.2s;
    transition-property: height;
}
.wn-header--collapsed {
    height: 6rem;
}
.wn-header__title {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0 0 2rem;
    margin: 0;
}

/**
* Helpers
*/

.wn-floor-fade {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
}