/**
* Typography
*/

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
body {
    font-size: 1rem;
    line-height: 1.62rem;
}
p, .collapsible-body p {
    margin: 0 0 1.62rem 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', serif;
    font-weight: 200;
    margin: 0;
}
small {
    opacity: .75;
}
strong {
    font-weight: 600;
}
hr {
    margin: 1.62rem 0;
}
.wn-link-list {
    list-style: none;
    padding-bottom: 1.62rem;
}
.wn-link-list li {
    margin-bottom: .81rem;
}
.material-icons {
    font-size: 1.62rem;
    line-height: 1.62rem;
    vertical-align: top;
}
.wn-card-header .material-icons, .wn-card-footer .material-icons {
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: top;
}
blockquote {
    border-left: 6px solid #afb9b9;
    margin: 0 3.24rem 1.62rem 3.24rem;
}

/**
* Lists
*/

.wn-plain-list {
    margin: 0 0 1.62rem 3.24rem;
}
.wn-plain-list li {
    list-style: disc;
    list-style-position: inside;
}

/**
* Collection list
*/

.collection, .collection-item, .collection .collection-item {
    border: none;
    background-color: inherit;
}
.avatar .material-icons {
    padding-right: 1rem;
}

/**
* Colors
*/

.wn-color-1-light {
    background-color: #3aeff3;
}
.wn-color-1 {
    background-color: #0bb8bc;
}
.wn-color-1-dark {
    background-color: #066568;
}
.wn-black-1 {
    background-color: #011213;
}
.wn-darkgrey-1 {
    background-color: #637272;
}
.wn-lightgrey-1 {
    background-color: #afb9b9;
}
.wn-white-1 {
    background-color: #e7f8f8;
}
.wn-coloraccent-1 {
    background-color: #e8560e;
}
.wn-color-2-light {
    background-color: #83b6f7;
}
.wn-color-2 {
    background-color: #3b8cf3;
}
.wn-color-2-dark {
    background-color: #0a4ea5;
}
.wn-black-2 {
    background-color: #010913;
}
.wn-darkgrey-2 {
    background-color: #636a72;
}
.wn-lightgrey-2 {
    background-color: #afb4b9;
}
.wn-white-2 {
    background-color: #e7eef8;
}
.wn-coloraccent-2 {
    background-color: #ff9e00;
}
.wn-text-color-1-light {
    color: #3aeff3;
}
.wn-text-color-1 {
    color: #0bb8bc;
}
.wn-text-color-1-dark {
    color: #066568;
}
.wn-text-black-1 {
    color: #011213;
}
.wn-text-darkgrey-1 {
    color: #637272;
}
.wn-text-lightgrey-1 {
    color: #afb9b9;
}
.wn-text-white-1 {
    color: #e7f8f8;
}
.wn-text-coloraccent-1 {
    color: #e8560e;
}
.wn-text-color-2-light {
    color: #3b8cf3;
}
.wn-text-color-2 {
    color: #0b59bd;
}
.wn-text-color-2-dark {
    color: #063168;
}
.wn-text-black-2 {
    color: #010913;
}
.wn-text-darkgrey-2 {
    color: #636a72;
}
.wn-text-lightgrey-2 {
    color: #afb4b9;
}
.wn-text-white-2 {
    color: #e7eef8;
}
.wn-text-coloraccent-2 {
    color: #ff9e00;
}

/**
* Layout Blocks
*/

body {
    margin: 0;
}
.row {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 3.24rem;
}
.wn-heading-row {
    margin-top: 1rem;
}

/* Header */

.wn-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 10rem;
    transition-duration: .2s;
    transition-property: height;
    background: url('../images/wn-header.jpg') center / cover;
}
.wn-header--collapsed {
    height: 6rem;
}
.wn-header__title {
    font-size: 1.62rem;
    line-height: 2rem;
    font-weight: 200;
    margin: 0;
    padding: 2rem 0 0 2rem;
}

/* Navbar */

nav {
    margin-top: 44px;
    padding-right: 3.24rem;
    transition-duration: .2s;
    transition-property: margin-top;
    background-color: inherit;
    box-shadow: none;
    font-family: Ubuntu;
    font-weight: 200;
}
.wn-header--collapsed nav {
    margin-top: -28px;
}

/* Main */

main {
    margin-top: 10rem;
    transition-duration: .2s;
    transition-property: margin-top;
}
.wn-header--collapsed + main {
    margin-top: 6rem;
}

/* page */

.wn-page-title {
    font-size: 3.24rem;
    line-height: 3.24rem;
    padding-bottom: 1.62rem;
    text-align: center;
}
.wn-page-title small {
    font-size: 1.62rem;
    line-height: 3.24rem;
    display: block;
    opacity: .75;
}

/* section */

.wn-section {
    padding: 1.62rem 0 3.24rem 0;
}
.wn-section__title {
    font-size: 2rem;
    line-height: 3.24rem;
    padding-left: 2px;
}
.wn-section__subtitle {
    font-size: 1.62rem;
    line-height: 3.24rem;
    padding-left: 2px;
}

/* wn-background */

.wn-background {
    position: relative;
    z-index: -1000;
    width: 100%;
    margin: 0;
    padding: 16.2rem 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.wn-background--vakken {
    background-image: url('../images/vakken.jpg');
}
.wn-background--uitstappen {
    background-image: url('../images/science-museum.jpg')
}
.wn-background--toekomst {
    background-image: url('../images/toekomst.jpg');
}
.wn-background--getuigenissen {
    background-image: url('../images/getuigenissen.jpg');
}
.wn-background--praktisch {
    background-image: url('../images/praktisch.jpg');
}
.wn-background--contact {
    background-image: url('../images/contact.jpg');
}

/* Card */

.card {
    width: 100%;
    margin-top: 0.667rem;
}
.card .card-content {
    padding: 1.62rem;
    opacity: .66;
}
.card .card-content p {
    margin-bottom: 1.62rem;
}
.wn-card--has-footer {
    margin-bottom: 2.287rem;
}
.wn-card-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.wn-card-footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    width: 100%;
    bottom: -1.62rem;
}
.wn-card-footer .btn-flat {
    margin: .81rem 0;
}
.wn-card-header__title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0;
    padding: .667rem 1.62rem;
    vertical-align: middle;
}

/* Collapsible */

.collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 1.62rem 0;
}
.collapsible-header {
    min-height: inherit;
    line-height: inherit;
    padding: inherit;
    border-bottom: 1px solid #e7eef8;
}
.collapsible>li:last-child .collapsible-header {
    border-bottom: none;
}
.collapsible .collapsible-body {
    padding: 1.62rem;
}

/**
* Helpers
*/

.wn-floor-fade {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
}
